.container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  height: calc(100% - 40px);
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow: 0 0 5px #7a7a7a;
  border-radius: 10px;
}

.left {
  border-right: 3px solid steelblue;
  text-align: center;
}

.left .room {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 15px;
  padding: 12px 0;
  background-color: #3d8eb1;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.left .active {
  border-bottom: 3.5px solid orange !important;
}

.right {
  position: relative;
  height: 100%;
}

.chat__form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 60px;
}

.chat__form input {
  border: none;
  outline: none;
  border: 4px solid steelblue;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 5px;
}

.chat__form .btn {
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 0;
}

.right .messages {
  height: calc(100% - 30px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 15px 20px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: aliceblue;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 10px;
}

.messages .you {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
  }

  .left {
    padding: 10px 0;
  }

  .left * {
    margin: 5px auto;
  }

  .left h1 {
    font-size: 1.5rem;
  }

  .left .room {
    font-size: 1rem;
    margin: auto 5px;
  }

  .left ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .right .messages {
    font-size: 0.8rem;
  }

  .chat__form {
    grid-template-rows: 40px;
  }

  .chat__form input,
  .chat__form .btn {
    font-size: 15px;
  }
}

@media screen and (max-width: 550px) {
  .left .room {
    font-size: 0.8rem;
  }
}
